@media (min-width: 320px) and (max-width: 374px) {
    
    .logotop {
    width: 35%;
    margin-left: 2px;
}
    
    .info {
    padding-bottom: 70px;
    padding-top: 50px;
    display: none;
}

    .text99 {
    font-size: 16px;
    color: #42210b;
    margin-left: 0;
}
    .glyphicon-envelope:before {
    content: "\2709";
    font-size: 30px;
    margin-left: 0px;
}
    
    .tr1{   
    width: 80%;
    text-align: center;
    }
    
    .text47 {
    font-size: 14px;
    }
    
.text006 {
    text-align: right;
    padding-right: 48px;
    font-size: 16px;
    margin-top: -14px;
    color: 412319;
}
    
    
    
    
    .img-responsive1 {
    text-align: center;
    margin-left: 10px;
    width: 100%;
}
    
    .img-responsive2 {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}
    
    .img-responsive3 {
    text-align: center;
    margin-left: 140px;
    margin-top: -32px;
}
    
    .button-menu{
        display: none;
}
    .text09 {
    color: 412319;
    font-size: 13px;
    text-indent: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
    
    
    
    .home {
    margin-top: -21px;
}
    
.text08 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 19px;
}
    
   .form-horizontal .control-label {
    margin-bottom: 14px;
    margin-left: 1px;
    margin-top: 5px;
    text-align: left!important;
} 
    .text22 {
    color: 412319;
    font-size: 13px;
    text-indent: 20px;
    margin-top: 9px;
    margin-left: 11px;
    margin-right: 13px;
    text-align: justify;
}

    
    .text22 {
    color: 412319;
    font-size: 13px;
    text-indent: 20px;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
    
    .bgp2 {
    background-color: #a87e4e;
    padding-top: 20px;
    margin-top: 25px;
    padding-bottom: 30px;
}
    
   .headp2 {
    width: 270px;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
}
    
    .login {
    background-color: #a87e4e;
    padding-bottom: 0px;
}
    
    
    .magintop30 {
    padding-top: 22px;
}
    
.magintop40 {
    padding-top: 5px;
    width: 94%;
    font-size: 13px;
}
        
.text44 {
    color: #ff0000;
    font-size: 13px;
    margin-left: 8px;
/*  
    margin-top: 2px;
    margin-left: 20px;
*/
}
    
    .text46 {
    color: 412319;
    font-size: 13px;
    text-indent: 100px;
    text-align: right;
    margin-right: 65px;
    margin-top: 15px;
}
    
    .text48 {
    font-size: 13px;
    text-indent: 1px;
}
    
    
.text03 {
    font-size: 14px;
    margin-top: -1px;
    text-align: right;
    padding-right: 0px;
    text-align: justify;
}
    
.margin02 {
    margin-top: -108px;
}
    
    .pading40 {
    padding-top: 100px;
    padding-top: 24px;
}
    
    
.padding25 {
    padding: 15px;
    padding-bottom: 0px;
}
    
.text05 {
    margin-left: 0;
    text-align: right;
    padding-right: 108px;
    font-size: 15px;
    margin-top: -13px;
    color: 412319;
}
    
    
    
    .text06 {
    margin-left: 122px;
    font-size: 16px;
    color: 412319;
    margin-top: -8px;
}

    
    .pading2{
   margin-top: -10px;
        
    }
    
    .centeritem {
    margin-left: 20px;
    }
    
    .headitem{
    }
    
    
    .time-check {
    text-align: center;
    color: 42210b;
    margin-top: 20px;
    font-size: 20;
}
    
.adstop {
    margin-top: -5px;
}
    
.butp2 {
    width: 30%;
    margin-left: 20px;
    margin-top: 10px;
}
    
.butp3 {
    width: 30%;
    margin-left: 125px;
    margin-top: -37px;
}
    
    .chooseidcard {
    margin-top: -23px;
}
    
    .oo {
    margin-top: -19px;
}
    
    .marginimg02 {
    margin-top: -23px;
    padding: 0px;
}
    
    .marginimg {
    margin-top: -68px;
}
    
    .mama1 {
    margin-top: -28px;
}
    
.oo2 {
    margin-top: -20px;
    margin-bottom: -8px;
}
    
    .regisbot {
    margin-left: 6px;
    margin-top: -18px;
}
.canclebot {
    margin-left: 28PX;
    margin-top: -12px;
}
    
.chakebox {
    margin-top: 27px;
    margin-left: 94px;
    margin-bottom: -24px;
}
    
    
    .porfile img13 {
    width: 175%;
    margin-right: 0;
    margin-left: 98px;
    margin-bottom: -46px;
}
    
    .textbot02{
    margin-left: 0px;
    margin-top: -80px;
    }
    
    


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 12px;
}
    

.pum01 {
    
    background-color: #42210b;
    color: white;
    margin-left: 100px;
    margin-top: 5px;
}
    
.text201 {
    margin-top: -13px;
    margin-left: 1px;
    margin-bottom: 11px;
}
    .bot201 {
    margin-left: 75px;
    margin-top: -30px;
         }
    
    .bot202 {
            margin-left: 20px;
    margin-top: -30px;
    }
    
    .texthead {
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: -16px;
    margin-top: 6px;
}
    
.textunder {
    font-size: 15px;
    margin-left: 9px;
    margin-bottom: 32px;
    margin-top: 26px;
}
    
    .idcard {
    font-size: 16px;
    margin-left: 2px;
    margin-top: -17px;
}

    .kok {
        margin-left: 0;
    }
    
    .short2 {
    font-size: 15px;
    color: red;
    margin-left: -15px;
    margin-top: 8px;
}
    
    .miniicon19{
        margin-right: 500px;
    }
    
    .textpc {
    font-size: 16px;
    margin-left: 7px;
    margin-bottom: 9px;
    margin-top: 11px;
    color: #42210b;
}
    
    .form-control77 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-top: 12px;
    border-radius: 4px;
    margin-left: 2px;
}
    
    .btn2 {
    background-color: #42210b;
    color: white;
    margin-left: 0;
    margin-top: 5px;
}
    
    .bot181 {
    margin-top: -25px;
    margin-left: 24px;
}
    
    .bot182 {
    margin-top: -25px;
}
    
    .table18 {
    margin-left: -22px;
}
.btn3 {
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: -11px;
}
 
.textro {
    font-size: 15px;
    margin-left: 4px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
}
    
    .texthot {
    font-size: 20px;
    margin-left: 61px;
    margin-bottom: -9px;
    margin-top: 9px;
    color: red;
}
    .control-labelusername {
    font-size: 16px;
    margin-left: 87px;
    margin-bottom: 25px;
}

   .imgads {
    font-size: 52px;
    width: 291px;
    margin-top: 17px;
}
    
   .textmor {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 21px;
    line-height: 0.5;
    text-align: center;
}
    
    .imgads150 {
    font-size: 100px;
    width: 215px;
    margin-left: 38px;
}
    
    .magintop57 {
    margin-top: 4px;
    margin-left: 9px;
}
    
    .text91 {
    font-size: 20px;
    color: #42210b;
}
    
    .porfile img20 {
    width: 175%;
    margin-right: 0;
    margin-left: 6px;
    margin-bottom: 12px;
    margin-top: -20px;
}
    
    .magintop55 {
    margin-top: -5px;
    margin-left: 2px;
    margin-bottom: 1px;
}
    
    .head14 {
    font-size: 20px;
    margin-top: 17px;
    margin-left: 24px;
    margin-right: 10px;
    margin-bottom: 22px;
}
    
    .text_detail {
  padding-left: 0px;
}
    
    .rub {
    margin-left: 85PX;
    margin-bottom: 24px;
    margin-top: 0px;
    padding-top: 23px;
}
    
    
.porfile201 img {
    width: 70%;
    margin-left: -95px;
    margin-top: -1px;
    margin-bottom: -10px;
}
.bgw {
    background-color: #fcf6f2;
    margin-top: -1px;
}
    
.text91 {
    font-size: 18px;
    color: #42210b;
    margin-top: 2px;
    margin-bottom: 4px;
}
.text121 {
    color: 412319;
    font-size: 16px;
    text-indent: 0;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 12px;
}
    
    .img-responsive12 {
    text-align: center;
    margin-left: 11px;
    margin-top: -24px;
    margin-bottom: -30px;
}

.text012 {
    color: 412319;
    font-size: 16px;
    margin-top: -1px;
    margin-left: 8px;
    margin-right: 8px;
    width: 276px;
    text-align: center;
}
    
    .text122 {
    color: #ff0000;
    font-size: 13px;
    margin-left: 12px;
    text-align: center;
    margin-right: 12px;
}
    .text111 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    }

    .img01 img {
    width: 100%;
    margin-bottom: 57px;
}
    
        .text88 {
    font-size: 16px;
    margin-left: 11px;
    text-align: justify;
    margin-right: 13px;
    color: #42210b;
}
    
    .padding26 {
    padding: 15px;
    padding-bottom: 30px;
}
    
    .textred {
    font-size: 16px;
    color: red;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 16px;
}
    
.textred02 {
    font-size: 16px;
    color: red;
    padding-left: 20px;
    padding-bottom: 27px;
    padding-top: -16px;
}
    
    .bot05 {
    margin-left: 116px;
    margin-top: -50px;
}
    
    .text051 {
    color: 412319;
    font-size: 13px;
    margin-top: -1px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    width: 276px;
}
    
        .text041 {
    color: 412319;
    font-size: 13px;
    margin-top: -1px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    width: 276px;
}
    
.pum02 {
    color: white;
    margin-left: 100px;
    margin-top: -37px;
    margin-bottom: -10px;
}
    
    .headp021 {
    width: 220px;
    margin-top: 18px;
    text-align: center;
    margin-left: 37px;
    }

    .textafter {
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.42857143;
    color: #333;
    margin-top: -8px;
}
   
    .calendar_non {
    font-family: Verdana,sans-serif;
    padding: 0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 4px;
    width: 127% !important;
    border-color: #59330d;
    margin-left: -57px;
}
    
    .sendbot06 {
    margin-top: -41px;
    margin-left: 111px;
}
    
    .regisbot03 {
    margin-top: -17px;
    margin-left: 52px;
}
    
     .canclebot03 {
    margin-top: -4px;
    margin-left: 36px;
}
    
    .text02 {
    color: 412319;
    font-size: 15px;
    text-indent: 10px;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 17px;
    text-align: justify;
}
    }
@media (min-width: 375px) and (max-width: 767px) {
    
    .topheadp3 {
    font-size: 17px;
    margin-bottom: 8px;
}
    
    .text99 {
    font-size: 16px;
    color: #42210b;
    margin-left: 0;
}
    
    .info {
    display: none;
}
    
    .button-menu{
        display: none;
}
    
    .home {
    margin-top: -20px;
}
    .padding25 {
    padding: 25px;
}
    
    .pading2 {
        margin-top: -10px;
    }
    
  .text02 {
    color: 412319;
    font-size: 13px;
    text-indent: 20px;
    margin-top: -1px;
    margin-left: 20px;
    margin-right: 8px;
    text-align: justify;
    width: 90%;
}
    .text44 {
    color: #ff0000;
    font-size: 13px;
}
    
    .magintop30 {
    margin-top: 20px;
        font-size: 13px;
}
    
    .text03 {
    text-align: justify;
    margin-top: 5px;
    margin-left: 116px;
}
    
    .text05 {
    margin-left: 188px;
    font-size: 16px;
}
    
    .text06 {
    margin-left: 143px;
}
    
    .text46 {
    color: 412319;
    font-size: 13px;
    text-indent: 100px;
    text-align: right;
    margin-right: 21px;
    margin-top: 25px;
}
    
    .text48 {
    font-size: 13px;
    text-indent: 5px;
}
    
    .butp2 {
    width: 30%;
    margin-left: 20px;
    margin-top: 10px;
}
    
    .butp3 {
    width: 30%;
    margin-left: 171px;
    margin-top: -41px;
}
    
    .margin02 {
     margin-top: -108px;
    }
    
 .centeritem {
    margin-left: 49px;
}

    .adstop {
        margin-top: -10px;
    }
    
    
    .headp2 {
    width: 80%;
    margin-top: 45px;
    text-align: center;
    margin-left: 30px;
}
   .chakebox {
    margin-top: 29px;
    margin-left: 112px;
    margin-bottom: -16px;
}
    
 .regisbot {
    margin-left: 56px;
    margin-top: -17px;
}
   .canclebot {
    margin-left: 43PX;
    margin-top: 3px;
}
    
    .text101{
    font-size: 13px;
    margin-left: 20px;
    }
    
    .porfile201 {
    width: 63%;
    margin-bottom: -14px;
    margin-left: 48px;
}
    
    .bot201 {
    margin-left: 92px;
}
    
   .text201 {
    margin-top: -15px;
    font-size: 16px;
}
    .kok {
    margin-left: 0px;
    }
    
    .short2 {
    font-size: 14px;
    color: red;
    margin-left: 0;
    margin-top: 10px;
}
    
    .bot19 {
    margin-left: 22px;
    margin-top: -16px;
    margin-bottom: -28px;
}
    
    .form-control77 {
    margin-left: 0;
}
    
    .bot181 {
    margin-left: 42px;
    margin-top: -23px;
}
    
        .bot182 {
    margin-top: -23px;
}
    
    .textro {
    font-size: 16px;
    margin-left: 9px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #42210b;
}
 
    
    .texthot {
    font-size: 21px;
    margin-left: 76px;
    margin-bottom: -8px;
    margin-top: 6px;
    color: #42210b;
}
    
    .bot17 {
    margin-top: 16px;
    margin-left: 136px;
}
    .imgads {
    font-size: 50px;
    width: 346px;
    margin-top: 20px;
}
    
    .imgads150 {
    font-size: 100px;
    width: 250px;
    margin-left: 45px;
}
    
    .textmor {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
    
    .magintop57 {
    margin-top: 8px;
    margin-left: 8px;
    font-size: 24px;
}
    .porfile15 {
    margin-left: 25px;
}
    
    .text02 {
    font-size: 16px;
}
    
    .magintop55 {
    margin-top: 9px;
    margin-left: -3px;
}
    .head14 {
    margin-top: 23px;
    font-size: 16px;
    margin-bottom: 18px;
    margin-left: 19px;
}
    
    .rub {
    margin-left: 50PX;
    margin-bottom: 21px;
    padding-top: 24px;
    margin-top: 0px;
    margin-left: 116px;
}
    
.text91 {
    font-size: 20px;
    color: #42210b;
    margin-left: 7px;
    margin-top: -1px;
    margin-bottom: -14px;
    text-align: center;
}
    
.porfile13 {
    margin-left: 25px;
    margin-top: 37px;
    margin-bottom: 22px;
}
    
    .text_detail {
    padding-left: 0px;
}
    .logout {
    padding-bottom: 24px;
}
    
.padding25 {
    padding: 25px;
    margin-top: -1px;
}
    
.magintop30 {
    margin-top: 3px;
    margin-bottom: 15px;
}
    .img01 img {
    width: 100%;
    margin-bottom: 36px;
}
    
    .text111 {
    font-size: 18px;
    margin-bottom: 15px;
}
    
.magintop30 {
    margin-top: -8px;
}
    .table08 {
    margin-top: 44px;
}
    .calendar_non {
    font-family: Verdana,sans-serif;
    padding: 0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 4px;
    width: 121% !important;
    border-color: #59330d;
    margin-left: -57px;
}
    
    .login {
    background-color: a87e4e;
    padding-bottom: 1px;
}
    .textwow {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 14px;
}
    
    .after {
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: 10px;
}
    .sendbot06 {
    margin-top: -34px;
    margin-left: 106px;
}
   .bot05 {
    margin-top: -32px;
    margin-left: 125px;
}
    
    .pum02 {
    background-color: #42210b;
    color: white;
    margin-left: 114px;
    margin-top: -36px;
    /* margin-bottom: -24px; */
}
    
    .textbon {
    font-size: 15px;
    /* line-height: 1.42857143; */
    color: #333;
    margin-top: -9px;
    margin-bottom: 12px;
}
.textafter03 {
    margin-top: 6px;
    padding-bottom: 16px;
}
    .regisbot03 {
    margin-left: 67px;
    margin-top: 3px;
}
   .textindex {
    margin-top: 29px;
}
    
    .logotop {
    width: 29%;
    margin: 37px;
    margin-top: 35px;
    padding-left: 35px;
    margin-left: 10px;
}
    
    .idcard {
    font-size: 16px;
    margin-left: 2px;
    margin-top: 2px;
    color: #42210b;
}
    
    .texthead {
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #42210b;
}
    .textunder {
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: red;
}
    
}
@media (min-width: 425px) and (max-width: 767px) {
    
    .centeritem {
    margin-left: 74px;
}
    
   .butp2 {
    width: 28%;
    margin-left: 210px;
    margin-top: 10px;
}

    
    .butp3 {
    width: 28%;
    margin-left: 31px;
    margin-top: -46px;
}
    
    .pum04 {
    background-color: #42210b;
    color: white;
    margin-left: 130px;
    margin-top: 5px;
}
    
    .porfile201 {
    width: 63%;
    margin-bottom: -15px;
    margin-left: 55px;
    margin-top: 8px;
}
    
    .bot201 {
    margin-left: 121px;
}
    
    .texthead {
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #42210b;
}
    
    .textunder {
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: 13px;
    margin-top: 18px;
    color: red;
}
    .idcard {
    font-size: 16px;
    margin-left: 2px;
    margin-top: -5px;
    color: #42210b;
}
    .bot19 {
    margin-left: 45px;
    margin-top: -16px;
    margin-bottom: -28px;
}
    .textpc {
    font-size: 16px;
    margin-left: 74px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #42210b;
}
    .bot181 {
    margin-left: 75px;
    margin-top: -23px;
}
    .texthot {
    font-size: 21px;
    margin-left: 101px;
    margin-bottom: -8px;
    margin-top: 6px;
    color: #42210b;
}
.control-labelusername {
    font-size: 16px;
    margin-left: 124px;
    margin-bottom: 20px;
}
    .bot17 {
    margin-top: 16px;
    margin-left: 156px;
}
    .text007 {
    color: white;
    font-size: 21px;
    padding-bottom: 6px;
}
    .imgads150 {
    font-size: 100px;
    width: 250px;
    margin-left: 74px;
}
    .imgads {
    font-size: 50px;
    width: 397px;
    margin-top: 20px;
}
    .porfile15 {
    margin-left: 53px;
    margin-top: 14px;
    margin-bottom: -2px;
}
    .text02 {
    font-size: 16px;
    margin-left: 47px;
}
    .head14 {
    margin-top: 23px;
    font-size: 19px;
    margin-bottom: 18px;
    margin-left: 23px;
}
    .porfile13 {
    margin-left: 44px;
    margin-top: 37px;
    margin-bottom: 24px;
}
    .rub {
    margin-left: 50PX;
    margin-bottom: 21px;
    padding-top: 24px;
    margin-top: 0px;
    margin-left: 144px;
}
    .text121 {
    font-size: 16px;
}
    .text012 {
    font-size: 18px;
}
    .magintop30 {
    margin-top: 20px;
    font-size: 19px;
}
    .text99 {
    font-size: 18px;
    color: #42210b;
    margin-left: 0;
}
    .text88 {
    font-size: 17px;
    color: #42210b;
    text-align: justify;
}
    .calendar_non {
    font-family: Verdana,sans-serif;
    padding: 0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 4px;
    width: 121% !important;
    border-color: #59330d;
    margin-left: -62px;
}
    .board {
    background-color: #42210b;
    color: white;
    margin-left: 122px;
    margin-top: 13px;
    width: 130px;
    border-color: #42210b;
    font-size: 16px;
    margin-bottom: -23px;
}
    .sendbot06 {
    margin-top: -34px;
    margin-left: 150px;
}
    .bot05 {
    margin-top: -32px;
    margin-left: 141px;
}
    .chakebox {
    margin-top: 18px;
    margin-left: 131px;
    margin-bottom: -13px;
}
    .regisbot03 {
    margin-left: 91px;
    margin-top: 3px;
}
    .text22 {
    font-size: 16px;
    margin-left: 6px;
    margin-top: 6px;
}
    .text09 {
    font-size: 16px;
    margin-left: 17px;
    margin-top: 5px;
}
    .headp021 {
    margin-top: 15px;
}
    .textindex {
    margin-left: 24px;
    margin-right: 20px;
    text-align: justify;
    margin-top: 9px;
    font-size: 16px;
    text-indent: 34px;
}
    .text03 {
    text-align: justify;
    margin-top: 5px;
    margin-left: 173px;
}
    .text05 {
    text-align: right;
    padding-right: 125px;
    margin-left: 0;
    font-size: 16px;
    color: 412319;
}
    .text006 {
    text-align: right;
    padding-right: 67px;
    margin-left: 0;
    font-size: 16px;
    color: 412319;
}

}
@media (min-width: 768px) and (max-width: 1023px) {
        
        
        
    .topmenu{
    display: none;
}
    .tr1{   
    width: 100%;
    text-align: center;
    }
    .headp2 {
    width: 60%;
    margin-top: 60px;
    margin-left: 140px;
}
        
    .text09 {
    font-size: 15px;
}
        
    .text46 {
    color: 412319;
    font-size: 16px;
    text-indent: 20px;
    text-align: right;
    margin-right: 40px;
    margin-top: 30px;
}
        
    .text48 {
    font-size: 16px;
    margin-right: 20px;
}
        
.butp2 {
    width: 25%;
    margin-left: 221px;
    margin-top: 35px;
}
    
.butp3 {
    width: 25%;
    margin-left: 50px;
    margin-top: 35px;
}   
      
    .text02 {
    color: 412319;
    font-size: 16px;
    text-indent: 20px;
    margin-top: 10px;
    text-align: justify;
}  
        
        .chakebox {
    margin-top: 29px;
    margin-left: 132px;
    margin-bottom: -9px;
}
        
        
        .regisbot {
    margin-left: 77px;
    margin-top: -17px;
}
    
    
          .topmenu{
    display: none;
}
        
        .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
        
        .porfile201 {
    width: 51%;
    margin-left: 139px;
    margin-top: -1px;
    margin-bottom: -22px;
}
        
        .bot201 {
    margin-left: 300px;
}
        
        .idcard {
    font-size: 16px;
    margin-left: 2px;
    margin-top: 2px;
    color: #42210b;
}
        
.texthead {
    font-size: 20px;
    margin-left: 6px;
    margin-bottom: -10px;
    margin-top: 14px;
    color: #42210b;
}
        .textunder {
    font-size: 16px;
    margin-left: 3px;
    margin-bottom: 22px;
    margin-top: 30px;
    color: red;
}
        .kok {
    margin-left: 1px;
   
}
        .bot19 {
    margin-left: 211px;
    margin-top: -23px;
}
        
        .form-control77 {
    margin-left: 2px;
}
        
        .textpc {
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #42210b;
}
        
        .bot181 {
    margin-left: 246px;
}
        
        .control-labelusername {
    font-size: 17px;
    margin-left: 3px;
    margin-bottom: 22px;
}
        .bot17 {
    margin-top: 10px;
    margin-left: 342px;
    margin-bottom: -4px;
}
        .textro {
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #42210b;
}
        .texthot {
    font-size: 21px;
    margin-left: 8px;
    margin-bottom: -6px;
    margin-top: 8px;
    color: #42210b;
}
        
        .center1{
        display: none;
        }
        
        .adstop{
        display: none;
        }
        
 .imgads {
    font-size: 50px;
    width: 737px;
    margin-top: 18px;
}
        
        .textmor {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
        .imgads150 {
    font-size: 100px;
    width: 242px;
    margin-left: 248px;
}
        .btn-block + .btn-block {
    margin-top: 5px;
    margin-left: 1px;
}
        .time-check {
    border: 1px solid black;
    text-align: center;
    color: 42210b;
    margin-top: -9px;
    font-size: 20;
}
        
        .text08 {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
        
.info {
    margin-top: 49px;
}
        .icomhome {
    width: 40%;
    padding-bottom: 30px;
}
        .text04 {
    font-size: 20px;
    margin-top: 44px;
    color: 412319;
    padding-top: -2px;
}
        
        .text91 {
margin-top: 14px;
    margin-left: 35px;
    text-align: center;
}
        .porfile15 {
    margin-left: 240px;
    margin-top: -10px;
}
.text02 {
    color: 412319;
    font-size: 17px;
    text-indent: 20px;
    margin-top: 4px;
    text-align: justify;
    margin-left: 235px;
}
        .rub {
    margin-left: 309PX;
    padding-top: 29px;
    margin-bottom: 28px;
    margin-top: 0px;
}
.bgw {
    background-color: #fcf6f2;
    margin-top: -1px;
}
        .porfile13{
        margin-left: 10px;
        }
        
        .porfile13 {
    margin-left: 238px;
    margin-top: 24px;
    margin-bottom: 16px;
}
        .text_detail {
    padding-left: 0px;
}
        .text012 {
    font-size: 23px;
    text-align: center;
    margin-top: 12px;
}
        .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 16px;
    text-align: left;
}
        .text111{
        margin-top: 10px;
        }
        
        .text111 {
    margin-top: 4px;
    font-size: 20px;
    margin-bottom: 11px;
}
        .img01 img {
    width: 54%;
    margin-left: 132px;
    margin-top: 37px;
}
        .text99 {
    font-size: 20px;
    color: #42210b;
    margin-left: 1px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: -67px;
    margin-top: 8px;
    margin-bottom: 0;
}
        .click09 {
    margin-top: -56px;
}
        .calendar_non {
    font-family: Verdana,sans-serif;
    padding: 0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 4px;
    width: 49% !important;
    border-color: #59330d;
    margin-left: 138px;
}
        .texty {
    font-size: 17px;
    margin-left: 45px;
    margin-top: 15px;
    color: #42210b;
    font-size: 16px;
}
        .board {
    background-color: #42210b;
    color: white;
    margin-left: 102px;
    margin-top: 29px;
    width: 130px;
    border-color: #42210b;
    font-size: 16px;
}
        .sendbot06 {
        margin-top: 10px;
        }
        .sendbot06 {
    margin-top: -30px;
    margin-left: 324px;
}
       .text051 {
    margin-top: 9px;
    font-size: 17px;
}
        .bot05 {
    margin-top: -30px;
    margin-left: 317px;
}
        .text041{
    margin-top: 9px;
    font-size: 17px;
}
        
        .chakebox {
    margin-top: 29px;
    margin-left: 312px;
    margin-bottom: -9px;
}
.regisbot03 {
    margin-top: -24px;
    margin-left: 262px;
}
.canclebot {
    margin-left: 62px;
    margin-top: -17px;
}
        .text22 {
    margin-left: 12px;
    text-align: justify;
    margin-right: 11px;
    text-indent: 0;
}
      .text09 {
    font-size: 15px;
    margin-right: 29px;
    margin-left: 30px;
    text-indent: 0;
}
        .headitem {
    margin-top: -99px;
}
 
        .newitem {
    padding-left: 18px;
    padding-right: 2px;
    margin-top: 20px;
}
        
}
@media (min-width: 1024px) and (max-width: 1439px) {
            
    .topheadp3{
    margin-bottom: 10px;
    font-size: 20px;
    }
    
   .textunderheadp3 {
    margin-left: 10px !important;
    margin-bottom: 16px;
}
    
    .topmenu{
    display: none;
}
    .tr1{   
    width: 100%;
    text-align: center;
    }
.headp2 {
    width: 60%;
    margin-top: 26px;
    margin-left: 99px;
}
        
    .text09 {
    font-size: 15px;
}
        
    .text46 {
    color: 412319;
    font-size: 16px;
    text-indent: 20px;
    text-align: right;
    margin-right: 40px;
    margin-top: 30px;
}
        
    .text48 {
    font-size: 16px;
    margin-right: 20px;
}
        
.butp2 {
    width: 33%;
    margin-left: 138px;
    margin-top: 39px;
}
    
.butp3 {
    width: 33%;
    margin-left: 42px;
    margin-top: 38px;
}   
      
    .text02 {
    color: 412319;
    font-size: 16px;
    text-indent: 20px;
    margin-top: 10px;
    text-align: justify;
}  
        
        .chakebox {
    margin-top: 29px;
    margin-left: 132px;
    margin-bottom: -9px;
}
        
        
        .regisbot {
    margin-left: 77px;
    margin-top: -17px;
}
    
    
          .topmenu{
    display: none;
}
        
        .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
        
.porfile201 {
    width: 51%;
    margin-left: 102px;
    margin-top: -1px;
    margin-bottom: -5px;
}
        
.bot201 {
    margin-left: 39px;
}
        
.idcard {
    font-size: 16px;
    margin-left: 2px;
    margin-top: 2px;
    color: #42210b;
    text-align: -webkit-right;
}
    
.short2 {
    font-size: 14px;
    color: red;
    margin-left: 174px;
    margin-top: 13px;
}
    
.texthead {
    font-size: 20px;
    margin-left: 6px;
    margin-bottom: -10px;
    margin-top: 14px;
    color: #42210b;
}
        .textunder {
    font-size: 16px;
    margin-left: 3px;
    margin-bottom: 22px;
    margin-top: 30px;
    color: red;
}
    
.kok {
    margin-left: 186px;
}  
.bot19 {
    margin-left: -2px;
    margin-top: -23px;
}
        
.form-control77 {
    margin-left: 20px;
}
        
        .textpc {
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #42210b;
}
        
.bot181 {
    margin-left: -31px;
}
    
.bot182 {
    margin-left: 10px;
    margin-top: -10px;
}
        
.control-labelusername {
    font-size: 16px;
    margin-left: 22px;
    margin-bottom: 21px;
    margin-top: -5px;
}
.bot17 {
    margin-top: -8px;
    margin-left: 0px;
    margin-bottom: -4px;
}
    
    
    
        .textro {
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #42210b;
}
        .texthot {
    font-size: 21px;
    margin-left: 8px;
    margin-bottom: -6px;
    margin-top: 8px;
    color: #42210b;
}
        
        .center1{
        display: none;
        }
        
        .adstop{
        display: none;
        }
        
.imgads {
    font-size: 50px;
    width: 567px;
    margin-top: 18px;
}
        
        .textmor {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.imgads150 {
    font-size: 100px;
    width: 242px;
    margin-left: 161px;
}
        .btn-block + .btn-block {
    margin-top: 5px;
    margin-left: 1px;
}
.time-check {
    border: 1px solid black;
    text-align: center;
    color: 42210b;
    margin-top: -9px;
    font-size: 16px;
}
        
.text08 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
        
.info {
    margin-top: 49px;
}
        .icomhome {
    width: 40%;
    padding-bottom: 30px;
}
.text04 {
    font-size: 19px;
    margin-top: 17px;
    color: 412319;
    padding-top: -2px;
}
        
.text91 {
    margin-top: 20px;
    margin-left: 35px;
    text-align: center;
    float: left;
}
.porfile15 {
    margin-left: 0px;
    margin-top: -10px;
}
.text02 {
    color: 412319;
    font-size: 16px;
    text-indent: 20px;
    margin-top: 4px;
    text-align: justify;
    margin-left: 235px;
}
        .rub {
    margin-left: 309PX;
    padding-top: 29px;
    margin-bottom: 28px;
    margin-top: 0px;
}
.bgw {
    background-color: #fcf6f2;
    margin-top: 0px;
}
        .porfile13{
        margin-left: 10px;
        }
        
        .porfile13 {
    margin-left: 238px;
    margin-top: 24px;
    margin-bottom: 16px;
}
        .text_detail {
    padding-left: 0px;
}
        .text012 {
    font-size: 23px;
    text-align: center;
    margin-top: 12px;
}
.form-horizontal .control-label {
    padding-top: 0px;
    margin-bottom: 16px;
    text-align: left;
    text-align: -webkit-right;
}
    
    .login {
    background-color: a87e4e;
    padding-bottom: 7px;
}
    
    .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -27px;
}
    
        .text111{
        margin-top: 10px;
        }
        
        .text111 {
    margin-top: 4px;
    font-size: 20px;
    margin-bottom: 11px;
}
        .img01 img {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}
.text99 {
    color: #42210b;
    margin-left: 24px;
    font-size: 17px;
    margin-bottom: 11px;
}
    legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 19px;
    line-height: inherit;
    margin-left: -66px;
    padding-top: 13px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
    
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: -67px;
    margin-top: -14px;
    margin-bottom: 0;
}
        .click09 {
    margin-top: 2px;
}
.calendar_non {
    font-family: Verdana,sans-serif;
    padding: 0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 4px;
    width: 194% !important;
    border-color: #59330d;
    margin-left: -68px;
}
    
.magintop55 {
    margin-top: 9px !important;
    margin-left: 15px;
}
    
.texty {
    font-size: 17px;
    margin-left: -5px;
    margin-top: 15px;
    color: #42210b;
    font-size: 16px;
}
.board {
    background-color: #42210b;
    color: white;
    margin-left: 49px;
    margin-top: 16px;
    width: 130px;
    border-color: #42210b;
    font-size: 16px;
}
        .sendbot06 {
        margin-top: 10px;
        }
    
    .textred {
    font-size: 16px;
    color: red;
    padding-left: 1px;
    padding-bottom: 6px;
    padding-top: 18px;
}
    
    .img-porfile {
    text-align: center;
    width: 70%;
    margin-left: 32px;
    margin-top: -41px;
}
    
    .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: -85px;
    -moz-osx-font-smoothing: grayscale;
}
    
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 4px;
    color: #737373;
}
    
    .bb1 {
    background-color: #42210b;
    height: 30px;
    color: black;
    margin-top: 0px;
}
    
 .sendbot06 {
    margin-top: -29px;
    margin-left: 1px;
}
       .text051 {
    margin-top: 9px;
    font-size: 17px;
}
.bot05 {
    margin-top: -13px;
    margin-left: 8px;
}
    
    .textright{
    text-align: -webkit-left !important;
    }
    
    
.text041 {
    margin-top: 5px;
    font-size: 16px;
}
        
.chakebox {
    margin-top: -34px;
    margin-left: 265px;
    margin-bottom: -9px;
}
.regisbot03 {
    margin-top: -1px;
    margin-left: 152px;
}
        .canclebot {
    margin-left: 19px;
    margin-top: -1px;
}
    
    
    
        .text22 {
    margin-left: 12px;
    text-align: justify;
    margin-right: 11px;
    text-indent: 0;
}
.text09 {
    font-size: 12px;
    margin-right: 29px;
    margin-left: 30px;
    text-indent: 0;
}
    .homeimg{
    margin-top: 40px;
    }
    
    
        .headitem {
    margin-top: -99px;
}
 
        .newitem {
    padding-left: 18px;
    padding-right: 2px;
    margin-top: 20px;
}
    
   .button-menu {
    margin-top: -14px;
}
    
.imgprofile13 {
    width: 100px;
    margin-left: -250px;
}
        
    
}
@media (min-width: 1440px) and (max-width: 1919px){
        
      .btn {
    background-color: #42210b;
    color: white;
    margin-left: 19px;
    margin-top: -11px;
}
    
    .short2 {
    font-size: 14px;
    color: red;
    margin-left: 294px;
    margin-top: 10px;
}
    
    .btn {
    background-color: #42210b;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}
    
    .btn {
    background-color: #42210b;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
}
    
    
.samak {
    margin-top: -7px;
    margin-left: 45px;
}
    
    .textright{
    text-align: -webkit-left!important;
    }
    
.canclebot {
    margin-top: 13px;
    margin-left: -3px;
}
    
    .btn {
    background-color: #42210b;
    color: white;
    margin-left: 1px;
    margin-top: 5px;
}
    
    .magintop30 {
    margin-top: 7px;
}
    
    
    .porfile201 {
    width: 51%;
    margin-left: 144px;
    margin-top: 20px;
}
   .kok {
    margin-left: 293px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-top: -10px;
    margin-left: 306px;
    border-radius: 4px;
}
    
   .chakebox {
    margin-top: -11px;
}
    
    
    .topmenu{
    display: none;
}
        
    .bot201 {
    margin-left: 111px;
}


        
}